*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow: hidden; */
}

body {
    font-family: Arial, sans-serif;
}
a{
    text-decoration: none;
}
h2 {
    text-align: center;
    font-size: 28px;
    margin: 30px 0;
    color: #e30052;
    position: relative;
}

h2::after {
    content: '';
    display: block;
    width: 50px;
    height: 3px;
    background-color: #e30052;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -10px;
}
/* Section Title */

/* Grid Layout for Lecturers */
.lecturer-grid {
    display: flex;
    flex-wrap: wrap; /* Allows items to wrap to the next line */
    gap: 20px; /* Space between items */
    padding: 20px;
    justify-content: center; /* Center the items horizontally */
}
/* From Uiverse.io by andrew-demchenk0 */ 
.card {
    --main-color: #000;
    --submain-color: #78858F;
    --bg-color: #fff;
    position: relative;
    width: 55vh;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: var(--bg-color);
  }
  
  .card__img {
    height: 192px;
    width: 100%;
  }
  
  .card__img svg {
    height: 100%;
    border-radius: 20px 20px 0 0;
  }
  
  .card__avatar {
    position: absolute;
    width: 114px;
    height: 114px;
    background: var(--bg-color);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: calc(50% - 57px);
  }
  
  .card__avatar img {
    width: 100px;
    height: 100px;
    border-radius: 50px;
  }
  
  .card__title {
    margin-top: 60px;
    font-weight: 500;
    font-size: 18px;
    color: var(--main-color);
  }
  
  .card__subtitle {
    margin-top: 10px;
    font-weight: 400;
    font-size: 15px;
    color: var(--submain-color);
  }
  
  .card__btn {
    margin-top: 15px;
    width: 76px;
    height: 31px;
    border: 2px solid var(--main-color);
    border-radius: 4px;
    font-weight: 700;
    font-size: 11px;
    color: var(--main-color);
    background: var(--bg-color);
    text-transform: uppercase;
    transition: all 0.3s;
  }


  .card__btn:hover {
    background: rgb(108, 108, 108);
  }
  .card:hover {
        transform: translateY(-10px);
  }
