* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.wrapper {
  display: flex;
  height: 100vh;
  background-color: #fce4ec;
}

/* Sidebar */
.sidebar {
  width: 250px;
  background-color: #fff;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  position: relative;
}

.sidebar::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10px;
  background-color: #ccc;
}

.sidebar .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
}

.sidebar .logo img {
  width: 50px;
  height: 50px;
}

.sidebar .logo h1 {
  font-size: 20px;
  margin-top: 10px;
  color: #333;
}

.sidebar .profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
  border-bottom: 4px solid #333;
}

.sidebar .profile img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.sidebar .profile p {
  margin: 0;
  color: #333;
}

.sidebar .profile a {
  color: #3498db;
  text-decoration: none;
  font-size: 14px;
}

.sidebar ul {
  list-style: none;
  padding-left: 0;
  margin-top: 20px;
}

.sidebar ul li {
  padding: 15px 20px;
  border-bottom: 1px solid #f4f4f4;
}

.sidebar ul li a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
  display: block;
  background-color: transparent;
  border: none;
}

.sidebar ul li a:hover {
  background-color: transparent;
  color: #AD1D45;
  box-shadow: none;
  border: none;
}

.sidebar ul .submenu {
  margin-left: 20px;
  list-style-type: none;
  display: none;
}

.sidebar ul li:hover .submenu {
  display: block;
}

/* Main Content */
.main-content {
  flex-grow: 1;
  padding: 20px;
  margin: 50px;
  background-color: #fce4ec;
}

.main-content h2 {
  color: #333;
  margin-bottom: 20px;
  font-size: 24px;
}

/* Search Bar */
.search-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
}

.search-input {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  width: 200px;
}

.search-button {
  background-color: #fff;
  border: none;
  cursor: pointer;
  margin-left: 10px;
}

.search-button img {
  width: 16px;
  height: 16px;
}

/* Table Content */
.table-container {
  max-height: 300px;
  overflow-y: auto;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th, table td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: left;
  background-color: #f0f0f0;
}

table th {
  background-color: #ccc;
  font-weight: bold;
  position: sticky;
  top: 0;
}

/* Button Styles */
.button-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.action-button {
  padding: 10px 20px;
  background-color: #ccc;
  color: #333;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
}

.action-button:hover {
  background-color: #bbb;
}
