/* General styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

/* Header styles */
header {
  background-color: #bb1333;
  color: white;
  padding: 20px;
  text-align: center;
}

header h1 {
  margin: 0;
}

header p {
  font-size: 1.2em;
}

/* Section styles */
section {
  padding: 20px;
  text-align: center;
}

section h2 {
  color: #bb1333;
}

section p {
  font-size: 1.1em;
}

section img {
  margin-top: 20px;
}

section .btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #333;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 20px;
}

section .btn:hover {
  background-color: #555;
}

/* Footer styles */
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  width: 100%;
  bottom: 0;
}
